//
//
// frosted-glass.scss
//
//

@mixin frosted-glass($saturation, $blur) {
  backdrop-filter: saturate($saturation) blur($blur);

  @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
    -webkit-backdrop-filter: blur($blur);
    backdrop-filter: blur($blur);
  }
}